{% extends 'base.html' %}

{% block content %}
	<div class="container-xl"></div>

	<h4 style="color: darkgrey"> About :</h4>
			<img src="{{ url_for('static', filename='images/marco.jpg') }}" width="150" align="center">
			<h1>HSF</h1>
	<h4 style="color: darkgrey"> Who We Are / What Do We Do.</h4>
	<br/>
	<hr/><br/>
	<u><h5> Who We Are:</h5></u>
	<p> We are ordinary people, those who believe in UNESCO's 17 Sustainable Development Goals to improve their lives. We advocate holistic action to challenge current social inequality, climate change and poverty. We want to build a greener and more just world to give back to our planet what we have unfairly taken from it over the past hundred years.</p>
	<br/><br/>
	<hr/><br/>
	<u><h5> What do we do:</h5></u>
	<p>Is a global change in our lifestyle too innovative a topic to discuss? Perhaps for some it is, but they are the ones who consider it unproductive, not us. Most of us know that imagining more produces positive results. As a result, new companies with 360-degree sustainable innovative programs are the ones that win in the marketplace. Consequently, it is the more conservative business approaches that need to be transformed, and <strong><em>this open source platform aims to introduce these emerging holistic concepts.</em></strong></p>
	<br/><br/>
	<hr/><br/>


</div>	
{% endblock %}