{% extends 'base.html' %}



{% block content %}

	<br/>
	<center>
	<h1>B</h1>
	<br/><hr/>
<div class="shadow p-3 mb-5 sm-light rounded ">
<div class="card mb-3" style="margin-top:5px">
	<div class="row no-gutters">	
	<h3>1-Bartering</h3>
	<h2>An ancient novelty</h2>
	<p>Barter is still useful in enabling individuals to obtain what they need by using what they already own and no longer use....</p>
	<p><em><small>full article under the heading posts</small></em>
	<a href="http://marco873.pythonanywhere.com/posts/17"
              					>click here to <strong>"Modern bartering":</strong></a></p>
</div>
</div>
</div>
	</center>

{% endblock %}