{% extends 'base.html' %}



{% block content %}

	<br/>

	<center>
	<h1>C</h1>
	<br/><hr/>

<div class="shadow p-3 mb-5 sm-light rounded ">
<div class="card mb-3" style="margin-top:5px">
	<div class="row no-gutters">
	<h3>1-Cedric Price</h3>
	<h2>From Fun Palace to Fun City</h2>

		<p>Cedric Price's work is a testament to the positive effect that interdisciplinary urban design has on our urban planning.

		With the Fun Palace project, Cedric Price demonstrated that architecture serves to improve the quality of people’s daily lives. He introduced the modern concept of space flexibility ...</p>
		<p><em><small>full article under the heading posts</small></em>
		<a href="http://marco873.pythonanywhere.com/posts/13"style="font-size:large;"
              					>click here to <strong>"From Fun Palace to Fun City ":</strong></a>	</p>

</div>
</div>
</div>
	</center>


	

	

{% endblock %}