{% extends 'base.html' %}



{% block content %}

	<br/>

	<h1>C</h1>
	<br/><hr/>
<h3 style="color:grey"> Themes: </h3>
<hr/>
<div class="container" style="background-color: black">
	<div class="row" style="margin-left: 20px">
		<div class="col" align="center">
			<img src="{{ url_for('static', filename='images/cen.jpg') }}" class="rounded-circle" width="160" height="160" border="5">
			<p style="color:grey"> Mixed-Use Building</p>
		</div>
		<div class="col" align="center">
			<img src="{{ url_for('static', filename='images/high.jpg') }}" class="rounded-circle" width="160" height="160" border="5">
			<p style="color:grey"> Urban Space Flexibility</p>
			
		</div>
		<div class="col" align="center">
			<img src="{{ url_for('static', filename='images/venice.jpg') }}" class="rounded-circle" width="160" height="160" border="5">
			<p style="color:grey">Social Aggregation</p>
			
		</div>
		<div class="col" align="center">
			<img src="{{ url_for('static', filename='images/edu.jpg') }}" class="rounded-circle" width="160" height="160" border="5">
			<p style="color:grey"> Access to Education</p>
			
		</div>
	</div>
</div>

	<br/><hr/>
<div class="shadow p-3 mb-5 sm-light rounded ">

	<h3>1-Cedric Price</h3>
	<h2>From Fun Palace to Fun City</h2>

		<p>Cedric Price's work is a testament to the positive effect that interdisciplinary urban design has on our urban planning.

		With the Fun Palace project, Cedric Price demonstrated that architecture serves to improve the quality of people’s daily lives. He introduced the modern concept of space flexibility ...</p>
		<p><em><small>full article under posts</small></em>
		<a href="http://marco873.pythonanywhere.com/posts/13"style="font-size:large;"
              					>click here to <strong>From Fun Palace to Fun City</strong></a>	</p>

</div>
<br>
<a href="{{ url_for('library')}}" class="btn btn-outline-secondary btn-sm ">Full Library</a>

<br><br/>
<a href="{{ url_for('index')}}" class="btn btn-outline-secondary btn-sm ">Back to Blog</a>

<br><br> 	


	

	

{% endblock %}