{% extends 'base.html' %}



{% block content %}

	<br/>
	<center>
	<h1>F</h1>
	<br/><hr/>
<div class="shadow p-3 mb-5 sm-light rounded ">
<div class="card mb-3" style="margin-top:5px">
	<div class="row no-gutters">
	<h3>1-Fifteen-minute city</h3>
	<h2>Flex Building Model</h2>
	<p>Hybrid building which combines short-term and long-term rental spaces...</p>
	<p><em><small>full article under the heading posts</small></em>
	<a href="http://marco873.pythonanywhere.com/posts/19"
              					>click here to <strong>"Flex Building Model Concept":</strong></a></p>
</div>
</div>
</div>
	</center>

{% endblock %}