{% extends 'base.html' %}



{% block content %}

	<br/>
	<center>
	<h1>G</h1>
	<br/><hr/>
<div class="shadow p-3 mb-5 sm-light rounded ">
<div class="card mb-3" style="margin-top:5px">
	<div class="row no-gutters">
	<h3>1-Gentrification</h3>
	<h2>DLT for Sustainable Real Estate Developments</h2>
	<p>Distributed Ledger Technologies automate real estate development...</p>
	<p><em><small>full article under the heading posts</small></em>
	<a href="http://marco873.pythonanywhere.com/posts/16"
              					>click here to <strong>"About Distributed Ledger Technologies":</strong></a></p>
</div>
</div>
</div>
	
	
	</center>

{% endblock %}