{% extends 'base.html' %}

{% block content %}
	<div class="container-xl"></div>

	<h4 style="color: darkgrey"> NFTs :</h4>
			<img src="{{ url_for('static', filename='images/sdg.png') }}" width="250" align="center">
			<h1>HSF</h1>
	<h4 style="color: darkgrey"> NFTs Selection Creteria </h4>
	<br/>
	<p> Artists that support the 17 SDGs can have a direct link to their mintable listing, to promote their creations:
</p>
	<br/><br/>
	


<hr/><br/>
<div class="shadow p-3 mb-5 bg-light rounded ">
<div class="card mb-3" style="margin-top:10px">
	<div class="row no-gutters">
		
		<div class="col-md-10">
			<div class="card-body" >
				<table class="table table-hover table-bordered table-striped">
					<p class="card-text" >
					 <strong>Creations by:</strong></p>
						<tr>
							<td><a href="https://mintable.app/browse?chain=eth&other=buy_now&search=Mixtyfor" style="font-size:large;"
              					>click here to <strong>"MIXTYFOR":</strong> Listing </a>	
						</tr>
						
				</table>
			</div>
		</div>
	</div>
</div>
</div>	

<hr/><br/>
<div class="shadow p-3 mb-5 bg-light rounded ">
<div class="card mb-3" style="margin-top:10px">
	<div class="row no-gutters">
		
		<div class="col-md-10">
			<div class="card-body" >
				<table class="table table-hover table-bordered table-striped">
					<p class="card-text" >
					 <strong>Creations by:</strong></p>
						<tr>
							<td><a href="https://mintable.app/browse?chain=eth&other=buy_now&search=saving%20nature" style="font-size:large;"
              					>click here to <strong>"Sustainable art":</strong> Saving Nature </a>	
						</tr>
						
				</table>
			</div>
		</div>
	</div>
</div>
</div>	



{% endblock %}