{% extends 'base.html' %}



{% block content %}

{% for message in get_flashed_messages() %}
		<div class="alert alert-success alert-dismissible fade show" role="alert">
		  {{ message }}
		  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
{% endfor %}

<h3>HSF Topics</h3>
<br/>
{% for post in posts %}
<div class="shadow p-3 mb-5 bg-light rounded ">
	<div class="card">
		<h5><a href="{{ url_for('post', id=post.id )}}"><small><em>{{ post.title }}</em></small></a></h5>
		<small style="color: darkred">By:  {{ post.poster.name }}</small>
		<small>{{ post.date_posted}}</small> 

		<a href="{{ url_for('post', id=post.id) }}" class="btn btn-primary btn-sm" >View Posts</a>

		{% if post.poster_id == current_user.id or current_user.id == 33 %}	
		<a href="{{ url_for('edit_post', id=post.id)}}" class="btn btn-outline-secondary btn-sm ">Edit Posts</a>
		<a href="{{ url_for('delete_post', id=post.id)}}" class="btn btn-outline-danger btn-sm ">Delete Posts</a>
		{% endif %}
	</div>

	

</div>

{% endfor %}


{% endblock %}