{% extends 'base.html' %}

{% block content %}
	<div class="container-xl"></div>

	<h4 style="color: darkgrey"> Innovations :</h4>
			<img src="{{ url_for('static', filename='images/sdg.png') }}" width="250" align="center">
			<h1>HSF</h1>
	<h4 style="color: darkgrey"> Innovations Selection Creteria </h4>
	<br/>
	<p> Organizations that support the 17 SDGs can have a direct link to their website, to promote innovations that meet the following requirements:
a- act on goals: 1/2/3/5/10/17 through equitable distribution of profits.||
b- act on at least one other SDG.||
c- share the vision of the topic.</p>
	<br/><br/>
	


<hr/><br/>
<div class="shadow p-3 mb-5 bg-light rounded ">
<div class="card mb-3" style="margin-top:10px">
	<div class="row no-gutters">
		
		<div class="col-md-10">
			<div class="card-body" >
				<table class="table table-hover table-bordered table-striped">
					<p class="card-text" >
					 <strong>Innovations</strong> based on Topic/<em style="color: lightgreen">Bartering</em></p>
						<tr>
							<td><a href="https://xls-group.com/"style="font-size:large;"
              					>click here to <strong>"XLS Media Group ":</strong>To clinch efficient and reliable bartering deals with the media.</a>	
						</tr>
						
				</table>
			</div>
		</div>
	</div>
</div>
</div>
<br/>		

<div class="shadow p-3 mb-5 bg-light rounded ">
<div class="card mb-3" style="margin-top:10px">
	<div class="row no-gutters">
		
		<div class="col-md-10">
			<div class="card-body" >
				<table class="table table-hover table-bordered table-striped">
					<p class="card-text" >
					 <strong>Innovations</strong> based on Topic/<em style="color: lightgreen"> Cedric Price:"The wise game of Architecture"</em></p>
						<tr>
							<td><a href="https://www.southdevonplayers.com/"style="font-size:large;"
              					>click here to <strong>"The South Devon Players":</strong> Creating high quality touring theatre with career-orientated actors, & theatre/film makers</a>	
						</tr>
						<tr>
							<td><a href="https://www.lisc.org/"style="font-size:large;"
              					>click here to <strong>"LISC Organization":</strong>Connecting communities with resources </a>	
						</tr>	
				</table>
			</div>
		</div>
	</div>
</div>
</div>	
<br/>
		
<div class="shadow p-3 mb-5 bg-light rounded ">
<div class="card mb-3" style="margin-top:10px">
	<div class="row no-gutters">
		
		<div class="col-md-10">
			<div class="card-body" >
				<table class="table table-hover table-bordered table-striped">
					<p class="card-text" >
					 <strong>Innovations</strong> based on Topic/<em style="color: lightgreen">15-minute city</em></p>
						<tr>
							<td><a href="https://www.linkpicture.com/q/new-pro_2.jpg"style="font-size:large;"
              					>click here to <strong>"Sustainable Ideas ":</strong>Professions of the future.</a>	
						</tr>
						<tr>
							<td><a href="https://apple.news/AbhvvYc5rR6e3IJQrf4w4-Q"style="font-size:large;"
              					>click here to <strong>"The Housing Revolution Is Coming ":</strong>Accessory Dwelling Units.</a>	
						</tr>
				</table>
			</div>
		</div>
	</div>
</div>
</div>		

<div class="shadow p-3 mb-5 bg-light rounded ">
<div class="card mb-3" style="margin-top:10px">
	<div class="row no-gutters">
		
		<div class="col-md-10">
			<div class="card-body" >
				<table class="table table-hover table-bordered table-striped">
					<p class="card-text" >
					 <strong>Innovations</strong> based on Topic/<em style="color: lightgreen">Gentrification:"Tools and Strategies to eradicate it"</em></p>
						<tr>
							<td><a href="https://co-serving.herokuapp.com/"style="font-size:large;"
              					>click here to <strong>"Co-Serving: Distributed Ledger Technology for Sustainable Real Estate Developments":</strong> Using Public-Private Partnerships and DBOT project delivery model</a>	
						</tr>
						<tr>
							<td><a href="https://www.newslooks.com/amanda-gorman-un-poem-an-ode-we-owe/"style="font-size:large;"
              					>click here to <strong>"Amanda Gorman":</strong> Ode we owe</a>	
						</tr>		
				</table>
			</div>
		</div>
	</div>
</div>
</div>
<br/>
		
<div class="shadow p-3 mb-5 bg-light rounded ">
<div class="card mb-3" style="margin-top:10px">
	<div class="row no-gutters">
		
		<div class="col-md-10">
			<div class="card-body" >
				<table class="table table-hover table-bordered table-striped">
					<p class="card-text" >
					 <strong>Innovations</strong> based on Topic/<em style="color: lightgreen">Guerrilla Gardening</em></p>
						<tr>
							<td><a href="https://www.agritecture.com/"style="font-size:large;"
              					>click here to <strong>AGRITECTURE:</strong> website</a>	
						</tr>	
						
				</table>
			</div>
		</div>
	</div>
</div>
</div>		
<div class="shadow p-3 mb-5 bg-light rounded ">
<div class="card mb-3" style="margin-top:10px">
	<div class="row no-gutters">
		
		<div class="col-md-10">
			<div class="card-body" >
				<table class="table table-hover table-bordered table-striped">
					<p class="card-text" >
					 <strong>Innovations</strong> based on Topic/<em style="color: lightgreen">Recycled People</em></p>
						<tr>
							<td><a href="https://www.loopfront.com/"style="font-size:large;"
              					>click here to <strong>"Loopfront:Recycling Platform ":</strong>Tool to reuse furniture, interiors & building materials.</a>	
						</tr>
						
				</table>
			</div>
		</div>
	</div>
</div>
</div>	





{% endblock %}