{% extends 'base.html' %}



{% block content %}

	<br/>
	<center>
	<h1>R</h1>
	<br/><hr/>
<div class="shadow p-3 mb-5 sm-light rounded ">
<div class="card mb-3" style="margin-top:5px">
	<div class="row no-gutters">
	<h3>1-Recycle People</h3>
	<h2>We are the new people</h2>
	<p>We provide new ideas for a better life. We dream higher. We are ready to change the world, not just improve it; we are ready to give back to our planet what we have unjustly taken from it....</p>
	<p><em><small>full article under the heading posts</small></em>
	<a href="http://marco873.pythonanywhere.com/posts/15"
              					>click here to <strong>"To put in practice what we know in order to be happy":</strong></a></p>
</div>
</div>
</div>
	</center>

{% endblock %}