{% extends 'base.html' %}

{% block content %}
	<div class="container-xl"></div>

	<h4 style="color: darkgrey"> NFTs :</h4>
			<img src="{{ url_for('static', filename='images/sdg.png') }}" width="250" align="center">
			<h1>HSF</h1>
	<h4 style="color: darkgrey"> Sponsorship </h4>
	<br/>
	<p> If you Think this Topic  helps the 17 SDGs mission, 70% of your sponsorship will be donated to grassroots organizations that share the following vision:
</p>
	<br/>
<div class="shadow p-3 mb-5 bg-light rounded ">
<div class="card mb-3" style="margin-top:10px">
	<div class="row no-gutters">
		
		<div class="col-md-10">
			<div class="card-body" >
				<table class="table table-hover table-bordered table-striped">
					<p class="card-text" >
					 <strong>Guerrilla Gardening</strong></p>
						<tr>
							<td><a href="https://www.discovermagazine.com/environment/how-guerrilla-gardening-can-change-your-city" style="font-size:large;"
              					>click here to <strong>"Leslie Nemo":</strong> How 'Guerrilla Gardening' Can Change Your City </a>	
						</tr>
						
				</table>
			</div>
		</div>
	</div>
</div>
</div>	

<hr/><br/>

<a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: large;"
              ><strong>click here to ING account: Guerilla Gardening</strong></a>

{% endblock %}